---
import { YouTube } from "@astro-community/astro-embed-youtube";
---

<section
  id="inicio"
  class="w-full lg:max-w-[1200px] mx-auto px-12 xl:px-0 flex flex-col-reverse justify-center items-center lg:grid grid-cols-2 gap-[75px] pt-[100px] lg:pt-[200px]"
>
  <div class="lg:max-w-[1200px] xl:px-0 w-full mx-auto">
    <YouTube id="https://youtu.be/x5Dd1e7wq1Y" />
  </div>

  <div
    class="flex flex-col gap-8 max-w-[472px] items-center lg:items-start py-6"
  >
    <h2
      class="text-[30px] text-center lg:text-left font-dm tracking-wide leading-8 md:leading-[62.50px] md:text-[50px] text-text-blue"
    >
      ¡Bienvenidos a Frontera Andina!
    </h2>
    <p
      class="text-base md:text-[22px] text-center lg:text-left tracking-tight text-text-gray leading-[33px]"
    >
      Descubrí la magia de nuestras cabañas a orillas del lago Caviahue. Moderno
      diseño de montaña, cálidos ambientes para seis personas, compromiso
      ecológico y tu tranquilidad garantizada. ¡Viví la experiencia única de
      Frontera Andina!
    </p>
  </div>
</section>
