---
import Facebook from "@/icons/facebook.astro";
import Instagram from "@/icons/instagram.astro";
import Logo from "@/icons/logo.astro";
import Mail from "@/icons/mail.astro";
import Map from "@/icons/map.astro";
import Phone from "@/icons/phone.astro";

const currentYear = new Date().getFullYear();
---

<footer id="contacto" class="bg-[#333333]">
  <div class="mx-auto w-full max-w-screen-xl p-4 px-6 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 flex flex-col md:mb-0">
        <a href="/" class="flex items-center justify-center">
          <Logo class="h-auto w-36" />
        </a>
        <div class="mt-6 flex justify-center gap-x-4">
          <a
            href="https://www.instagram.com/fronteraandina/?hl=es-la"
            target="_blank"
            class="text-gray-300 hover:text-white duration-300"
          >
            <Instagram class="size-8" />
            <span class="sr-only">Cuenta de instagram de Frontera Andina</span>
          </a>
          <a
            href="https://www.facebook.com/p/Frontera-Andina-100066368394614/"
            target="_blank"
            class="text-gray-300 hover:text-white duration-300"
          >
            <Facebook class="size-7" />
            <span class="sr-only">Cuenta de facebook de Frontera Andina</span>
          </a>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6">
        <div class="col-span-2">
          <h2 class="mb-6 text-sm font-semibold uppercase text-white">
            Contacto
          </h2>
          <ul class="flex flex-col gap-2 font-medium text-gray-400">
            <li>
              <a
                class="flex gap-1 hover:text-white duration-300"
                href="mailto:frontera.andina@gmail.com"
              >
                <Mail />frontera.andina@gmail.com
              </a>
            </li>
            <li>
              <a
                class="flex gap-1 hover:text-white duration-300"
                target="_blank"
                href="https://www.google.com/maps/place/Caba%C3%B1as+FRONTERA+ANDINA/@-37.8746745,-71.0496504,18z/data=!4m20!1m10!3m9!1s0x966d0469e95a4d8d:0xd4a423e7890df2fe!2sCaba%C3%B1as+FRONTERA+ANDINA!5m2!4m1!1i2!8m2!3d-37.8746966!4d-71.0496608!16s%2Fg%2F11btmb3d54!3m8!1s0x966d0469e95a4d8d:0xd4a423e7890df2fe!5m2!4m1!1i2!8m2!3d-37.8746966!4d-71.0496608!16s%2Fg%2F11btmb3d54?hl=es&entry=ttu"
              >
                <Map />Costanera Quimey Co S/N, Caviahue, Neuquén, Argentina
              </a>
            </li>
            <li>
              <a
                class="flex gap-1 hover:text-white duration-300"
                href="tel:+0294815418104"><Phone />+02948 15 418104</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-white/10 sm:mx-auto lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-400 sm:text-center"
        >Copyright © {currentYear} Frontera Andina | Desarrollado por <a
          class="hover:text-white duration-300"
          target="_blank"
          href="https://www.linkedin.com/in/joaqu%C3%ADn-emilio-pontello-a75582251/"
          >Joaquín Pontello</a
        >
      </span>
    </div>
  </div>
</footer>
