---
import PhotoSwipe from "./photo-swipe.astro";
---

<section
  id="galeria"
  class="lg:max-w-[1200px] px-12 xl:px-0 w-full mx-auto pt-[100px] lg:mt-[200px]"
>
  <h2
    class="font-dm tracking-wide text-center leading-[37px] lg:leading-[62.50px] text-[30px] lg:text-[50px] w-full lg:max-w-[50%] pb-2 mx-auto"
  >
    Galería
  </h2>
  <p
    class="text-base md:text-[22px] text-center tracking-tight text-text-gray leading-[33px] lg:max-w-[60%] mx-auto"
  >
    Te invitamos a descubrir la patagonia termal argentina.
  </p>

  <div class="pt-5">
    <PhotoSwipe />
  </div>
</section>
