---
import Logo from "@/icons/logo.astro";
import CloseIcon from "@/icons/close-icon.astro";
import MenuIcon from "@/icons/menu-icon.astro";
import HeaderLink from "./header-link.astro";
import { siteConfig } from "@/site";
---

<header id="header-nav" class="fixed top-0 z-50 w-full px-6 py-5">
  <div class="mx-auto flex max-w-7xl items-center justify-between">
    <div class="flex flex-grow basis-0 z-50">
      <HeaderLink
        href="/"
        class="group relative"
        aria-label="Logo Frontera Andina"
      >
        <!-- <Logo
          class="h-auto w-[120px] absolute inset-0 m-auto opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        />
        <Logo class="h-auto w-[120px]" /> -->
      </HeaderLink>
    </div>

    <!-- Menú de navegación para pantallas grandes -->
    <nav
      class="hidden md:flex flex-grow lg:basis-0 w-full gap-x-8 text-xl md:justify-center font-medium items-center md:py-2"
    >
      {
        siteConfig.mainSections.map((link) => (
          <HeaderLink class="text__glowing" href={link.href}>
            {link.label}
          </HeaderLink>
        ))
      }
    </nav>

    <!-- Botón de menú para pantallas pequeñas -->
    <button
      id="menu-toggle"
      aria-label="Botón para abrir el menu de navegación"
      class="relative flex flex-grow basis-0 justify-end text-2xl md:hidden z-50"
    >
      <span id="menu-icon">
        <span class=""><MenuIcon class="text-white" /></span>
        <span class="hidden"><CloseIcon class="text-white" /></span>
      </span>
    </button>

    <div
      class="hidden md:flex-grow md:basis-0 justify-end whitespace-nowrap md:flex md:text-base"
    >
    </div>
  </div>

  <!-- Menú de navegación para pantallas más chicas -->
  <nav
    id="mobile-menu"
    class="bg-[#333333]/90 -translate-y-full transition-transform md:hidden w-full flex flex-col items-center text-center text-2xl fixed top-0 left-0 right-0 h-dvh place-content-center"
  >
    {
      siteConfig.mainSections.map((link) => (
        <HeaderLink class="my-4 text__glowing" href={link.href}>
          {link.label}
        </HeaderLink>
      ))
    }
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const menuToggle = document.getElementById("menu-toggle");
    const mobileMenu = document.getElementById("mobile-menu");
    const menuIcon = document.getElementById("menu-icon");

    if (!menuToggle || !mobileMenu || !menuIcon) {
      return;
    }

    function toggleMobileMenu() {
      mobileMenu?.classList.toggle("translate-y-0");
      document.body.classList.toggle("overflow-hidden");
      menuIcon
        ?.querySelectorAll("span")
        .forEach((el) => el.classList.toggle("hidden"));
    }

    menuToggle.addEventListener("click", toggleMobileMenu);
    mobileMenu.querySelectorAll("a").forEach((link) => {
      link.addEventListener("click", toggleMobileMenu);
    });
  });
</script>
