---
const services = [
  {
    title: "Ubicación Ideal",
    text: `Costanera Quimey Co (ruta de acceso a Caviahue).
  Costa de lago, a 1,5 km del centro de esquí.
  A 4 cuadras del centro comercial.`,
  },
  {
    title: "Cabañas Espaciosas",
    text: `110 m2 de confort.
  Capacidad hasta 6 pasajeros (2 habitaciones).
  `,
  },
  {
    title: "Servicios Esenciales",
    text: `Servicio de Mucama.
  Opción de lavado de vajilla.
  `,
  },
  {
    title: "Comodidades en los Baños",
    text: `1 baño principal completo + Jacuzzi.
  1 baño secundario (abajo) completo.
  Secador de Pelo.`,
  },
  {
    title: "Bienestar y Entretenimiento",
    text: `Calefacción central por radiadores.
  Internet Wi-Fi y telefonía interna.
  DirecTV y Televisor LCD.
  Living con salamandra a leña.
  Aprovisionamiento de leña.`,
  },
  {
    title: "Equipamiento de Cocina",
    text: `Heladera con freezer.
  Microondas, Cafetera Eléctrica, Pava eléctrica.
  Cocina con horno.`,
  },
  {
    title: "Descanso de Calidad",
    text: `Sommiers y edredones de pluma.
  Practicunas disponibles.
  Cajas de seguridad en las habitaciones.`,
  },
  {
    title: "Servicios Adicionales",
    text: `Servicio de bibliografía.
  Playón de estacionamiento.`,
  },
  {
    title: "Compromiso Ecológico",
    text: `Primer complejo en Caviahue con planta ecológica de tratamiento de fluidos.`,
  },
];
---

<style>
  #interiores {
    background-image: url("/img/img-4.jpg");
  }
</style>

<section
  id="interiores"
  class="w-full bg-no-repeat bg-cover mt-[100px] lg:mt-[200px] h-[50vh] flex justify-center items-end"
>
  <div
    class="py-[30px] lg:py-[41px] px-[60px] lg:px-[152px] flex flex-col justify-center items-center bg-white rounded-tl-[37px] rounded-tr-[37px] gap-2.5"
  >
    <h1
      class="text-[30px] leading-[40px] lg:text-[50px] lg:leading-[62px] font-dm capitalize text-primary-200"
    >
      Interiores
    </h1>
    <p
      class="text-base lg:text-[22px] lg:leading-[33px] tracking-tight font-jost text-text-gray"
    >
      Descubre la elegancia y comodidad de nuestros espacios interiores.
    </p>
  </div>
</section>

<section
  class="lg:max-w-[1200px] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-10 lg:gap-y-12 xl:px-0 w-full mx-auto pt-[50px] lg:pt-[150px] justify-between"
>
  {
    services.map((service) => {
      return (
        <div class="text-center w-full col-span-1 max-w-[358px] mx-auto flex rounded-[30px] hover:bg-primary-300 px-5 py-[83px] flex-col justify-center items-center gap-3 md:gap-5 shadow-md">
          <h3 class="text-text-blue font-dm text-[22px] md:text-[25px] leading-loose">
            {service.title}
          </h3>
          <p class="text-base text-balance md:text-[22px] tracking-tight font-jost text-text-gray leading-[33px] text-center">
            {service.text}
          </p>
        </div>
      );
    })
  }
</section>
