<style>
  .whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #2db742;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    transition:
      background-color 0.3s ease,
      color 0.1s ease,
      transform 0.4s ease;
  }

  .whatsapp:hover {
    background-color: #27e16b;
    transform: translatey(-20px);
    -webkit-transform: translatey(-20px);
    -moz-transform: translatey(-20px);
  }

  .whatsapp-icon {
    transition: transform 0.3s ease;
  }

  .whatsapp:hover .whatsapp-icon {
    transform: scale(1.1);
  }

  .whatsapp__screen-readers {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }
</style>

<a
  href="https://api.whatsapp.com/send?phone=0294815418104"
  class="whatsapp fixed right-10 bottom-10 w-14 h-14 bg-green-500 rounded-full flex items-center justify-center shadow-lg hover:bg-green-600 transition-transform duration-300"
  target="_blank"
>
  <svg
    fill="#fff"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="whatsapp-icon w-9 h-9"
  >
    <path
      d="M12 2C6.5 2 2.02 6.48 2.02 11.98C2.02 13.74 2.48 15.46 3.36 16.98L2 22L7.23 20.76C8.69 21.56 10.33 21.98 12.01 21.98L12.01 21.98C17.51 21.98 22 17.5 22 11.99C22 9.33 20.96 6.82 19.08 4.93C17.19 3.04 14.68 2 12 2zM12.01 4C14.15 4 16.15 4.83 17.66 6.34C19.17 7.85 20 9.86 20 11.99C20 16.4 16.41 19.98 12.01 19.98C10.67 19.98 9.35 19.64 8.19 19.01L7.52 18.64L6.77 18.82L4.8 19.28L5.29 17.5L5.5 16.7L5.09 15.98C4.39 14.77 4.02 13.39 4.02 11.98C4.02 7.58 7.61 4 12.01 4z M8.48 7.38C8.31 7.38 8.04 7.44 7.81 7.69C7.58 7.94 6.94 8.54 6.94 9.77C6.94 11 7.83 12.18 7.96 12.35C8.08 12.52 9.68 15.12 12.22 16.12C14.33 16.95 14.75 16.78 15.21 16.74C15.67 16.7 16.69 16.14 16.9 15.55C17.11 14.97 17.11 14.47 17.04 14.37C16.98 14.26 16.82 14.2 16.57 14.08C16.32 13.95 15.09 13.35 14.86 13.27C14.63 13.18 14.46 13.14 14.3 13.39C14.13 13.64 13.66 14.2 13.51 14.37C13.36 14.53 13.22 14.56 12.97 14.43C12.72 14.31 11.91 14.04 10.96 13.19C10.22 12.53 9.72 11.71 9.57 11.46C9.43 11.22 9.56 11.08 9.68 10.95C9.8 10.84 9.93 10.66 10.06 10.52C10.18 10.37 10.22 10.27 10.31 10.1C10.39 9.94 10.35 9.79 10.29 9.66C10.22 9.54 9.74 8.31 9.52 7.81C9.33 7.4 9.13 7.39 8.95 7.38C8.81 7.37 8.64 7.38 8.48 7.38z"
    ></path>
    <span class="whatsapp__screen-readers">Abrir WhatsApp</span>
  </svg>
</a>
